img {
  width: 100%;
}

.top_link {
  height: 20px;
}

.top_link a {
  color: whitesmoke !important;
  font-weight: 400;
}

.top_link img {
  width: 28px;
  padding-right: 7px;
  margin-bottom: 2%;
}
